body {
    position: relative;

    background-color: rgb(0, 0, 0);


}

@font-face {
    font-family: Silkscreen-regular;
    src: url(/fonts/Silkscreen-Regular.ttf);
}

@font-face{
    font-family: PressStart-Regular ;
    src: url(/fonts/PressStart2P-Regular.ttf);
}



.general-container {
    margin: 10px 40px;
    /* border: 1px, solid green; */
    color: white;
}



p,
h1,
h2,
h3,
h4,
a,
span{
    font-family: silkscreen-regular;
}


td, th{
    border: 1px, solid green;
}


a:hover{
    color: #ff0000;
    transition: color 0.3s;
}

a:active {
    color: #ff0000;
    transition: color 0.3s;
}

a:link {
    color: white;
}

a:visited {
    color: #808000;
}

/************************SLAIDER-START***************************/
.swiper-wrapper{
    padding-top: 10px ;
}

.swiper-slide{
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px, solid green  ;
    background: rgb(15, 15, 15) ;
}
/************************PAGINATION-START*************************/
.swiper-pagination{
    color: green;
    background: rgb(15, 15, 15);
}


/************************PAGINATION-END***************************/


/************************SLAIDER-END***************************/

/************************HEADER-START***************************/
.logo-project{
    width: 20%;
    margin: 40px;

    display: flex;
    align-items: center;
}


.navigation-container {

    margin: 10px 40px;

    border: 1px, solid green;

    display: flex;
    justify-content: center;
}

.main-tittle{
    align-items: center;
}

/************************HEADER-ENDT***************************/

/************************MAIN-START***************************/

.main-container {
    width: 100%;
    
    display: flex;
}

/* .main-container__header-box{
} */

.main-container__header{
    padding: 10px;
    width: 30%;
    border: 1px, solid green;
}

.main-container__table-box{
    width: 50%;
    border: 1px, solid green;
}

.table-box__style{
    width: 50%;
    margin: 15px 10px;

    white-space: nowrap;
    text-align: center;
    
    border-collapse: collapse;
    border: 1px solid green;
}
.table-box__cell{
    display: flex;
}
.table-box__style-nameCoin{
    width: 50%;
    text-align: left;
    /* padding: 2px 10px; */
}

.table-box__style-icons{
    width: 24px;
    height: 24px;
}
/************************MAIN-END***************************/

/************************FOOTER-START***************************/


.footer-box{
    /* width: 100%; */
    margin: 10px 40px;

    position: absolute;
    bottom: 0;

    border: 1px solid white;
    background-color: rgb(15, 15, 15);
}

.footer-box__my-contacts{
    display: flex;
    justify-content: center;
}

.footer-box__text-project-style{
        font-family: PressStart-Regular;
        font-size: 10px;
}

.footer-box__my-contacts{
    margin-top: 25px;
}

.footer-box__my-contacts-telegram{
        display: flex;
        justify-content: center;
}
.my-contacts-icon

.my-contacts-telegram-style{
    font-family: PressStart-Regular;
    font-size: 10px;

    text-decoration: none;
}

/************************FOOTER-END***************************/