body {
	background-color: var(--main-bg-color);
}

* {
	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	-moz-text-decoration: none !important;
}

:root {
	--swiper-theme-color: green;
	--main-bg-color: rgb(0, 0, 0);
	--container-bg-color: rgb(15, 15, 15);
	--border-color: green;
	--text-color: white;
	--hover-color: #ff0000;
	--active-color: #00ff6a;
	--pagination-bg: lightgreen;
}

@font-face {
	font-family: Silkscreen-regular;
	src: url(/src/assets/fonts/Silkscreen-Regular.ttf);
}

@font-face {
	font-family: PressStart-Regular;
	src: url(/src/assets/fonts/PressStart2P-Regular.ttf);
}

.general-container {
	margin: 10px 40px;
	min-height: 100vh;

	color: white;

	display: flex;
	flex-direction: column;
}

/* a:visited{
color: white !important;
} */

p,
h1,
h2,
h3,
h4,
a,
span,
button {
	font-family: silkscreen-regular;
}

td,
th {
	border:
		1px,
		solid var(--border-color);
}

/************************SLAIDER-START***************************/
.crypto-card {
	text-align: center;
}
.swiper-slide {
	margin-top: 30px;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	border:
		2px,
		solid var(--border-color);
	background: var(--container-bg-color);
}

/************************PAGINATION-START*************************/
.swiper-pagination {
	position: relative;
	z-index: 10;
	margin-top: 20px;
}

.swiper-pagination-bullet {
	background: var(--pagination-bg);
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background: var(--border-color);
	opacity: 1;
}

.swiper-pagination-bullet:hover {
	background: var(--pagination-bg);
	opacity: 0.8;
}

.swiper-button-prev,
.swiper-button-next {
	color: var(--border-color) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: var(--pagination-bg) !important;
}

.swiper-button-prev .swiper-navigation-icon,
.swiper-button-next .swiper-navigation-icon {
	display: none !important;
}
/************************PAGINATION-END***************************/

/************************SLAIDER-END***************************/

/**************************MODAL_WINDOWS_REG-START*************************/
.header__modal-windows {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.header__modal-windows___content {
	border: 1px solid var(--border-color);
	background: var(--container-bg-color);
	color: var(--text-color);

	margin: 100px auto;
	padding: 20px;
	width: 300px;
	border-radius: 5px;
	position: relative;
}

.header__modal-windows__close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}

.header__modal-windows__close:hover {
	color: var(--hover-color);
	transition: color 0.6s;
}

.header__modal-windows__close:active {
	color: var(--active-color);
	transition: color 0.6s;
}
.header__modal-input-style {
	margin-bottom: 10px;
}
/************************MODAL_WINDOWS_REG-END***************************/

/************************HEADER-START***************************/

.header-box {
	display: flex;
	justify-content: space-between;
}

.logo-project {
	width: 20%;
	margin: 40px;

	display: flex;
	align-items: center;
}

.logo-project__link {
	display: inline-block;
}

.header__button-registration__box {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 20px;
}

.button-registration-style {
	width: 140px;
	height: 40px;

	border: 1px solid var(--border-color);
	border-radius: 10px;

	color: var(--text-color);
	background: var(--container-bg-color);
}

.button-registration-style:hover {
	color: var(--hover-color);
	transition: color 0.6s;
}

.button-registration-style:active {
	color: var(--active-color);
	transition: color 0.2s;
}

.navigation-container {
	margin: 10px 40px;

	border:
		1px,
		solid var(--border-color);

	display: flex;
	justify-content: center;
}

.main-tittle {
	align-items: center;
}

/************************HEADER-ENDT***************************/

/************************MAIN-START***************************/

.main-container {
	width: 100%;

	display: flex;
}

.main-container__table-box {
	display: flex;
	width: 100%;
	border:
		1px,
		solid var(--border-color);
}

/* .main-container__header-box{
} */

.main-container__header {
	display: flex;
	gap: 20px;

	padding: 10px;
	width: 30%;
	border:
		1px,
		solid var(--border-color);
}

.table-box__style {
	width: 50%;
	margin: 15px 10px;

	white-space: nowrap;
	text-align: center;

	border-collapse: collapse;
	border: 1px solid var(--border-color);
}
.table-box__cell {
	display: flex;
}
.table-box__style-nameCoin {
	width: 50%;
	text-align: left;
	/* padding: 2px 10px; */
}

.table-box__style-icons {
	width: 24px;
	height: 24px;
}
/************************MAIN-END***************************/

/************************FOOTER-START***************************/

.footer-box {
	margin: 10px 40px;
	margin-top: 40px;

	position: relative;
	bottom: 0;

	border: 1px solid var(--text-color);
	background-color: var(--container-bg-color);
}

.footer-box__my-contacts {
	display: flex;
	justify-content: center;
}

.footer-box__text-project-style {
	font-family: PressStart-Regular;
	font-size: 10px;
}
/************************FOOTER-CONTACTS START***************************/

.footer-box__my-contacts {
	margin-top: 25px;
}

.footer-box__my-contacts-telegram {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-box__my-contacts-telegram a {
	font-family: PressStart-Regular;
	font-size: 10px;
	color: var(--text-color);
	text-decoration: none;
	transition: color 0.3s;
}

.footer-box__my-contacts-telegram a:hover {
	color: var(--hover-color);
}

.footer-box__my-contacts-telegram a:active {
	color: var(--active-color);
}

.footer-box__my-contacts-telegram a:visited {
	color: darkolivegreen !important;
}

/************************FOOTER-CONTACTS START*****************/

/************************FOOTER-END***************************/
