body {
	background-color: var(--main-bg-color);
}

* {
	text-decoration: none !important;
	-webkit-text-decoration: none !important;
	-moz-text-decoration: none !important;
}

:root {
	--swiper-theme-color: green;
	--main-bg-color: rgb(0, 0, 0);
	--container-bg-color: rgb(15, 15, 15);
	--border-color: green;
	--text-color: white;
	--hover-color: #ff0000;
	--active-color: #00ff6a;
	--pagination-bg: lightgreen;
}

@font-face {
	font-family: Silkscreen-regular;
	src: url(/src/assets/fonts/Silkscreen-Regular.ttf);
}

@font-face {
	font-family: PressStart-Regular;
	src: url(/src/assets/fonts/PressStart2P-Regular.ttf);
}

.general-container {
	position: relative;

	margin: 10px 40px;
	min-height: 100vh;

	color: white;

	display: flex;
	flex-direction: column;
}

/* a:visited{
color: white !important;
} */

p,
h1,
h2,
h3,
h4,
a,
span,
button,
input {
	font-family: silkscreen-regular;
}

td,
th {
	border:
		1px,
		solid var(--border-color);
}

/************************SLAIDER-START***************************/
.swiper-slide {
	margin-top: 30px;
}

.crypto-card {
	display: flex;
	flex-direction: column;
	gap: 12px;

	padding: 15px;
	border: 2px solid var(--border-color);
	background: var(--container-bg-color);
	border-radius: 8px;
	text-align: center;
	min-height: 120px;
	justify-content: center;
}

.crypto-card__header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-bottom: 1px;
}

.crypto-card__icon {
	width: 24px;
	height: 24px;

	flex-shrink: 0;
}

.crypto-card__title {
	font-size: 16px;
	margin: 0;
	font-weight: normal;
}

.crypto-card__content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.crypto-card__price {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	color: var(--text-color);
}

.crypto-card__change {
	font-size: 14px;
}

.crypto-card__change.positive {
	color: var(--active-color);
}

.crypto-card__change.negative {
	color: var(--hover-color);
}

.crypto-card__change.neutral {
	color: yellow;
}
/************************SLAIDER-END***************************/
/************************CHANGE-START***************************/
.crypto-card__change::before {
	display: none;
}

.crypto-card__change.positive::before,
.crypto-card__change.negative::before,
.crypto-card__change.neutral::before {
	display: inline-block;
	margin-right: 5px;
}

.crypto-card__change.positive::before {
	content: '▲';
	color: var(--active-color);
}

.crypto-card__change.negative::before {
	content: '▼';
	color: var(--hover-color);
}

.crypto-card__change.neutral::before {
	content: '—';
	color: yellow;
}
/************************CHANGE-END***************************/

/************************PAGINATION-START*************************/
.swiper-pagination {
	position: relative;
	z-index: 10;
	margin-top: 20px;
}

.swiper-pagination-bullet {
	background: var(--pagination-bg);
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background: var(--border-color);
	opacity: 1;
}

.swiper-pagination-bullet:hover {
	background: var(--pagination-bg);
	opacity: 0.8;
}

.swiper-button-prev,
.swiper-button-next {
	color: var(--border-color) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: var(--pagination-bg) !important;
}

.swiper-button-prev .swiper-navigation-icon,
.swiper-button-next .swiper-navigation-icon {
	display: none !important;
}
/************************PAGINATION-END********************************/

/************************SLAIDER-END***********************************/

/**************************CLOSE-BUTTON-START*************************/
.close-button {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}

.close-button:hover {
	color: var(--hover-color);
	transition: color 0.6s;
}

.close-button:active {
	color: var(--active-color);
	transition: color 0.6s;
}
/**************************CLOSE-BUTTON-END*********************************/

/**************************MODAL_WINDOWS_REG-START*************************/
.header__modal-windows {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.header__modal-windows___content {
	border: 1px solid var(--border-color);
	background: var(--container-bg-color);
	color: var(--text-color);

	margin: 100px auto;
	padding: 20px;
	width: 300px;
	border-radius: 5px;
	position: relative;
}

.modal-input {
	margin-bottom: 10px;

	font-size: 15px;
}
/************************MODAL_WINDOWS_REG-END***************************/

/************************BUTTON-START***************************/
.button-container {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;

	width: 300px;
	height: 100px;
	margin-top: 25px;
	padding: 5px;

	border: 2px solid var(--border-color);
	border-radius: 15px;
}

.button {
	width: 140px;
	height: 40px;

	border: 1px solid var(--border-color);
	border-radius: 10px;

	color: var(--text-color);
	background: var(--container-bg-color);
}

.button:hover {
	color: var(--hover-color);
	transition: color 0.6s;
}

.button:active {
	color: var(--active-color);
	transition: color 0.2s;
}
/************************BUTTON-END***************************/

/************************HEADER-START***************************/

/************************NAV-START***************************/
.navigation {
	margin: 10px 40px;

	border:
		1px,
		solid var(--border-color);

	display: flex;
	justify-content: center;
}
.tittle {
	align-items: center;
}
/************************NAV-END***************************/

.header {
	display: flex;
	justify-content: space-between;
}

.header__logo-project {
	width: 20%;
	margin: 40px;

	display: flex;
	align-items: center;
}

.header__logo-project__link {
	display: inline-block;
}
/************************HEADER-END***************************/
/************************WELCOMEBANNER-START******************/
.welcomeBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	z-index: 1000;
}

.welcomeBanner__border {
	width: 650px;
	height: 80px;

	display: flex;
	align-items: center;
	gap: 100px;

	padding: 5px;

	border: 1px solid green;
	border-radius: 10px;

	position: relative;
}

.welcomeBanner__avatar {
	width: 60px;
	height: 60px;

	border: 1px solid green;
	border-radius: 10px;
}

.welcomeBanner__avatar--img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
}

/************************WELCOMEBANNER-ANIMATION-START*****************/
.banner-enter-from,
.banner-leave-to {
	transform: translate(-50%, -100%);
	opacity: 0;
}

.banner-enter-to,
.banner-leave-from {
	transform: translate(-50%, 0);
	opacity: 1;
}

.banner-enter-active,
.banner-leave-active {
	transition: all 0.5s ease-out;
}
/************************WELCOMEBANNER-ANIMATION-END******************/

/************************WELCOMEBANNER-END*****************/

/************************MAIN-START***************************/
.main {
	width: 100%;
	display: flex;
}

.tables-container {
	display: flex;
	width: 100%;
	border: 1px solid var(--border-color);
}

.table {
	width: 50%;
	margin: 15px 10px;
	border-collapse: collapse;
	border: 1px solid var(--border-color);
}

.table__title {
	text-align: center;
}

.table__cell {
	display: flex;
}

.table__nameCoin {
	width: 50%;
	text-align: left;
}

.table__icons {
	width: 24px;
	height: 24px;
}
/************************MAIN-END***************************/

/************************FOOTER-START***************************/
.footer {
	margin: 10px 40px;
	margin-top: 40px;

	position: relative;
	bottom: 0;

	border: 1px solid var(--text-color);
	background-color: var(--container-bg-color);
}

.footer__description {
	font-family: PressStart-Regular;
	font-size: 10px;
}
/************************FOOTER-CONTACTS START***************************/

.footer__contacts {
	margin-top: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__telegram-link {
	font-family: PressStart-Regular;
	font-size: 10px;
	color: var(--text-color);
	text-decoration: none;
	transition: color 0.3s;
}

.footer__telegram-link:hover {
	color: var(--hover-color);
}

.footer__telegram-link:active {
	color: var(--active-color);
}

.footer__telegram-link:visited {
	color: darkolivegreen !important;
}

/************************FOOTER-CONTACTS END*****************/

/************************FOOTER-END***************************/
